@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* custom CSS global color variables (ref tailwind.config.ts) */
    --branding-background: 156, 60%, 30%;
    --branding-background-hover: 156, 60%, 25%;
    --branding-foreground: 200 20% 96%;
    /* (e.g for branding) */
    --background: 200 20% 98%;
    --foreground: 200 50% 3%;
    /* (e.g layout body) */
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    /* (e.g back buttons on login and sign out, navbar buttons, subject buttons (with border), modal-inner secondary buttons) */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --foreground: 200 20% 96%;
      /* (e.g layout body) */
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
    }
  }

  * {
    @apply border-foreground/20 box-border;
  }

  h1 {
    @apply text-2xl font-bold text-center;
  }
  h2 {
    @apply text-xl font-semibold text-center;
  }
  h3 {
    @apply text-lg text-center;
  }
  h4 {
    @apply text-base text-center;
  }

  @screen md {
    h1 {
      @apply text-4xl font-bold text-center;
    }
    h2 {
      @apply text-2xl font-bold text-center;
    }
    h3 {
      @apply text-xl text-center;
    }
    h4 {
      @apply text-lg text-center;
    }
  }
}

@layer components {
  .modal-primary-button {
    @apply bg-branding-background text-branding-foreground hover:bg-branding-background-hover;
  }
  .modal-secondary-button {
    @apply bg-btn-background hover:bg-btn-background-hover;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
